---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=98d7b903f9224f9ab1504126232309&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/23/2023 03:46:52'
      Cdn-Edgestorageid:
      - '992'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - f5d34f2740a03b52e8d608f7d4aba75c
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1695440763,"localtime":"2023-09-22
        21:46"},"current":{"last_updated_epoch":1695439800,"last_updated":"2023-09-22
        21:30","temp_c":14.5,"temp_f":58.1,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":10,"wind_dir":"N","pressure_mb":1014.0,"pressure_in":29.93,"precip_mm":0.0,"precip_in":0.0,"humidity":66,"cloud":0,"feelslike_c":13.2,"feelslike_f":55.7,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":18.9,"gust_kph":30.4}}'
  recorded_at: Sat, 23 Sep 2023 03:46:52 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=1&hour=24&key=98d7b903f9224f9ab1504126232309&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?key=98d7b903f9224f9ab1504126232309&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-R[...]
