---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=98d7b903f9224f9ab1504126232309&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/23/2023 03:29:34'
      Cdn-Edgestorageid:
      - '996'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - ae71fabb78c27bd44d01ca9d816ca559
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1695439726,"localtime":"2023-09-22
        21:28"},"current":{"last_updated_epoch":1695438900,"last_updated":"2023-09-22
        21:15","temp_c":14.5,"temp_f":58.1,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":10,"wind_dir":"N","pressure_mb":1014.0,"pressure_in":29.93,"precip_mm":0.0,"precip_in":0.0,"humidity":66,"cloud":0,"feelslike_c":13.2,"feelslike_f":55.7,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":18.9,"gust_kph":30.4},"forecast":{"forecastday":[{"date":"2023-09-22","date_epoch":1695340800,"day":{"maxtemp_c":28.0,"maxtemp_f":82.4,"mintemp_c":10.7,"mintemp_f":51.3,"avgtemp_c":19.5,"avgtemp_f":67.2,"maxwind_mph":12.5,"maxwind_kph":20.2,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":41.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":5.0},"astro":{"sunrise":"06:47
        AM","sunset":"06:57 PM","moonrise":"02:42 PM","moonset":"11:30 PM","moon_phase":"First
        Quarter","moon_illumination":"41","is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1695362400,"time":"2023-09-22
        00:00","temp_c":16.7,"temp_f":62.1,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":322,"wind_dir":"NW","pressure_mb":1008.0,"pressure_in":29.76,"precip_mm":0.0,"precip_in":0.0,"humidity":46,"cloud":0,"feelslike_c":16.7,"feelslike_f":62.1,"windchill_c":16.7,"windchill_f":62.1,"heatindex_c":16.7,"heatindex_f":62.1,"dewpoint_c":4.9,"dewpoint_f":40.9,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.7,"gust_kph":14.1,"uv":1.0},{"time_epoch":1695366000,"time":"2023-09-22
        01:00","temp_c":15.0,"temp_f":59.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.9,"wind_kph":4.7,"wind_degree":302,"wind_dir":"WNW","pressure_mb":1008.0,"pressure_in":29.77,"precip_mm":0.0,"precip_in":0.0,"humidity":50,"cloud":0,"feelslike_c":15.1,"feelslike_f":59.1,"windchill_c":15.1,"windchill_[...]
