---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?q=san%20diego,%20ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.520 TT 0 0.548"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 378,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL26788882W",
                    "type": "work",
                    "seed": [
                        "/books/OL36312596M",
                        "/works/OL26788882W",
                        "/subjects/travel",
                        "/subjects/photography",
                        "/authors/OL264260A",
                        "/authors/OL2850161A"
                    ],
                    "title": "San Diego, CA",
                    "title_suggest": "San Diego, CA",
                    "title_sort": "San Diego, CA",
                    "edition_count": 1,
                    "edition_key": [
                        "OL36312596M"
                    ],
                    "publish_date": [
                        "2015"
                    ],
                    "publish_year": [
                        2015
                    ],
                    "first_publish_year": 2015,
                    "isbn": [
                        "1934907383",
                        "9781934907382"
                    ],
                    "last_modified_i": 1640853574,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Twin Lights Publishers, Incorporated"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL264260A",
                        "OL2850161A"
                    ],
                    "author_name": [
                        "Steve Gould",
                        "Sara Day"
                    ],
                    "subject": [
                        "Travel",
                        "Photography"
                    ],
                    "publisher_facet": [
                        "Twin Lights Publishers, Incorporated"
                    ],
                    "subject_facet": [
                        "Photography",
                        "Travel"
                    ],
                    "_version_": 1767919648805748737,
                    "author_facet": [
                        "OL264260A Steve Gould",
                        "OL2850161A Sara Day"
                    ],
                    "subject_key": [
                        "photography",
                        "travel"
                    ]
                },
                {
                    "key": "/works/OL8621130W",
                    "type": "work",
                    "seed": [
                        "/books/OL11528656M",
                        "/works/OL8621130W",
                        "/authors/OL2899685A"
                    ],
                    "title": "San Diego, Ca Map",
                    "title_suggest": "San Diego, Ca Map",
                    "title_sort": "San Diego, Ca Map",
                    "edition_count": 1,
                    "edition_key": [
                        "OL11528656M"
                    ],
                    "publish_date": [
                        "August 2002"
                    ],
                    "publish_year": [
                        2002
                    ],
                    "first_publish_year": 2002,
                    "oclc": [
                        "49510729"
                    ],
                    "isbn": [
                        "9780841693081",
                        "0841693080"
                    ],
                    "last_modified_i": 1303876567,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "cover_edition_key": "OL11528656M",
                    "cover_i": 2662369,
                    "publisher": [
                        "Creative Sales Corp"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2899685A"
                    ],
                    "author_name": [
                        "G.M. Johnson & Associates Ltd"
                    ],
                    "author_alternative_name": [
                        "G M Johnson Associates",
                        "G.M. Johnson & Associates Ltd.",
                        "G M Johnson & Associates Ltd.",
                        "G M Johnson"
                    ],
                    "id_goodreads": [
                        "3178616"
                    ],
                    "publisher_facet": [
                        "Creative Sales Corp"
                    ],
                    "_version_": 1767943029184790529,
                    "author_facet": [
                        "OL2899685A G.M. Johnson & Associates Ltd"
                    ]
                },
                {
                    "key": "/works/OL8621082W",
                    "type": "work",
                    "seed": [...]
